<!DOCTYPE html>
<html lang="en">
<head>
<style>
  .border, .rain {
    height: 520px;
    width: 320px;
  }
</style>
</head>
<body id="home">
    <center><h1>Sign Up</h1></center>
  <div class="rain">
    <div class="border start">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>

        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true %>

        <%= f.label :username %>
        <%= f.text_field :username, autofocus: true %>

        <%= f.label :password %> <% if @validatable %><i>(<%= @minimum_password_length %> characters minimum)</i><% end %>
        <%= f.password_field :password, autocomplete: "off" %>

        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, autocomplete: "off" %>

        <%= f.radio_button 'role', "seeker" %>
        <%= f.label("Sign_up as a JOB-SEEKER") %>

        <%= f.radio_button 'role', "employer" %>
        <%= f.label("Sign_up as a EMPLOYER") %>

        <%= f.submit "Sign up", class: 'btn btn-success' %>
      <% end %>
    <%= render "devise/shared/links" %>
    </div>
  </div>
</body>
</html>
