<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <link rel="shortcut icon" href="../favicon.ico">
  </head>
  <body>
    <div class="container">
      <!-- Top Navigation -->
      <div class="codrops-top clearfix">
        <span class="right codrops-icon codrops-icon-drop"><a href="#login" class="page-scroll"><h5>Login</h5></a></span>
      </div>
      <header class="codrops-header">

      </header>
      <div class="description">
        <center><p><strong>Click on the gallery to start it.</strong></p></center>
      </div>
      <section id="photostack-1" class="photostack photostack-start">
        <div>
          <figure>
            <a href="#" class="photostack-img"><img src="/assets/1.jpg" alt="img01"/></a>
            <figcaption>
              <h2 class="photostack-title">Serenity Beach</h2>
              <div class="photostack-back">
                <p>Here he comes Here comes Speed Racer. He's a demon on wheels. Wouldn't you like to get away? Sometimes you want to go where everybody knows <span>the</span> your name. And they're always glad you came! </p>
              </div>
            </figcaption>
          </figure>
          <figure>
            <a href="#" class="photostack-img"><img src="/assets/2.jpg" alt="img02"/></a>
            <figcaption>
              <h2 class="photostack-title">Happy Days</h2>
              <div class="photostack-back">
                <p>Here he comes Here comes Speed Racer. He's a demon on wheels. Wouldn't you like to get away? Sometimes you want to go where everybody knows <span>the</span> your name. And they're always glad you came! </p>
              </div>
            </figcaption>
          </figure>
          <figure>
            <a href="#" class="photostack-img"><img src="/assets/3.jpg" alt="img03"/></a>
            <figcaption>
              <h2 class="photostack-title">Beautywood</h2>
              <div class="photostack-back">
                <p>Here he comes Here comes Speed Racer. He's a demon on wheels. Wouldn't you like to get away? Sometimes you want to go where everybody knows <span>the</span> your name. And they're always glad you came! </p>
              </div>
            </figcaption>
          </figure>
          <figure>
            <a href="#" class="photostack-img"><img src="/assets/4.jpg" alt="img04"/></a>
            <figcaption>
              <h2 class="photostack-title">Heaven of time</h2>
              <div class="photostack-back">
                <p>Here he comes Here comes Speed Racer. He's a demon on wheels. Wouldn't you like to get away? Sometimes you want to go where everybody knows <span>the</span> your name. And they're always glad you came! </p>
              </div>
            </figcaption>
          </figure>
          <figure>
            <a href="#" class="photostack-img"><img src="/assets/5.jpg" alt="img05"/></a>
            <figcaption>
              <h2 class="photostack-title">Speed Racer</h2>
              <div class="photostack-back">
                <p>Here he comes Here comes Speed Racer. He's a demon on wheels. Wouldn't you like to get away? Sometimes you want to go where everybody knows <span>the</span> your name. And they're always glad you came! </p>
              </div>
            </figcaption>
          </figure>
          <figure>
            <a href="#" class="photostack-img"><img src="/assets/6.jpg" alt="img06"/></a>
            <figcaption>
              <h2 class="photostack-title">Forever this</h2>
              <div class="photostack-back">
                <p>Here he comes Here comes Speed Racer. He's a demon on wheels. Wouldn't you like to get away? Sometimes you want to go where everybody knows <span>the</span> your name. And they're always glad you came! </p>
              </div>
            </figcaption>
          </figure>
          <figure data-dummy>
            <a href="#" class="photostack-img"><img src="/assets/7.jpg" alt="img07"/></a>
            <figcaption>
              <h2 class="photostack-title">Lovely Green</h2>
              <div class="photostack-back">
                <p>Here he comes Here comes Speed Racer. He's a demon on wheels. Wouldn't you like to get away? Sometimes you want to go where everybody knows <span>the</span> your name. And they're always glad you came! </p>
              </div>
            </figcaption>
          </figure>
          <figure data-dummy>
            <a href="#" class="photostack-img"><img src="/assets/8.jpg" alt="img08"/></a>
            <figcaption>
              <h2 class="photostack-title">Wonderful</h2>
              <div class="photostack-back">
                <p>Here he comes Here comes Speed Racer. He's a demon on wheels. Wouldn't you like to get away? Sometimes you want to go where everybody knows <span>the</span> your name. And they're always glad you came! </p>
              </div>
            </figcaption>
          </figure>
          <figure data-dummy>
            <a href="#" class="photostack-img"><img src="/assets/9.jpg" alt="img09"/></a>
            <figcaption>
              <h2 class="photostack-title">Love Addict</h2>
              <div class="photostack-back">
                <p>Here he comes Here comes Speed Racer. He's a demon on wheels. Wouldn't you like to get away? Sometimes you want to go where everybody knows <span>the</span> your name. And they're always glad you came! </p>
              </div>
            </figcaption>
          </figure>
          <figure data-dummy>
            <a href="#" class="photostack-img"><img src="/assets/10.jpg" alt="img10"/></a>
            <figcaption>
              <h2 class="photostack-title">Friendship</h2>
              <div class="photostack-back">
                <p>Here he comes Here comes Speed Racer. He's a demon on wheels. Wouldn't you like to get away? Sometimes you want to go where everybody knows <span>the</span> your name. And they're always glad you came! </p>
              </div>
            </figcaption>
          </figure>
          <figure data-dummy>
            <a href="#" class="photostack-img"><img src="/assets/11.jpg" alt="img11"/></a>
            <figcaption>
              <h2 class="photostack-title">White Nights</h2>
              <div class="photostack-back">
                <p>Here he comes Here comes Speed Racer. He's a demon on wheels. Wouldn't you like to get away? Sometimes you want to go where everybody knows <span>the</span> your name. And they're always glad you came! </p>
              </div>
            </figcaption>
          </figure>
          <figure data-dummy>
            <a href="#" class="photostack-img"><img src="/assets/12.jpg" alt="img12"/></a>
            <figcaption>
              <h2 class="photostack-title">Serendipity</h2>
              <div class="photostack-back">
                <p>Here he comes Here comes Speed Racer. He's a demon on wheels. Wouldn't you like to get away? Sometimes you want to go where everybody knows <span>the</span> your name. And they're always glad you came! </p>
              </div>
            </figcaption>
          </figure>
          <figure data-dummy>
            <a href="#" class="photostack-img"><img src="/assets/13.jpg" alt="img13"/></a>
            <figcaption>
              <h2 class="photostack-title">Pure Soul</h2>
              <div class="photostack-back">
                <p>Here he comes Here comes Speed Racer. He's a demon on wheels. Wouldn't you like to get away? Sometimes you want to go where everybody knows <span>the</span> your name. And they're always glad you came! </p>
              </div>
            </figcaption>
          </figure>
          <figure data-dummy>
            <a href="#" class="photostack-img"><img src="/assets/14.jpg" alt="img14"/></a>
            <figcaption>
              <h2 class="photostack-title">Winds of Peace</h2>
              <div class="photostack-back">
                <p>Here he comes Here comes Speed Racer. He's a demon on wheels. Wouldn't you like to get away? Sometimes you want to go where everybody knows <span>the</span> your name. And they're always glad you came! </p>
              </div>
            </figcaption>
          </figure>
          <figure data-dummy>
            <a href="#" class="photostack-img"><img src="/assets/15.jpg" alt="img15"/></a>
            <figcaption>
              <h2 class="photostack-title">Shades of blue</h2>
              <div class="photostack-back">
                <p>Here he comes Here comes Speed Racer. He's a demon on wheels. Wouldn't you like to get away? Sometimes you want to go where everybody knows <span>the</span> your name. And they're always glad you came! </p>
              </div>
            </figcaption>
          </figure>
          <figure data-dummy>
            <a href="#" class="photostack-img"><img src="/assets/16.jpg" alt="img16"/></a>
            <figcaption>
              <h2 class="photostack-title">Lightness</h2>
              <div class="photostack-back">
                <p>Here he comes Here comes Speed Racer. He's a demon on wheels. Wouldn't you like to get away? Sometimes you want to go where everybody knows <span>the</span> your name. And they're always glad you came! </p>
              </div>
            </figcaption>
          </figure>
        </div>
      </section>


      <section class="description" id="login">
        <div class="rain" style="width:100%;">
          <div class="border start" style="width:102%;height:115%">
            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
              <div style="width:75%;float:left;">
                <%= f.label :email %>
                <%= f.email_field :email %>

                <%= f.label :password %>
                <%= f.password_field :password, autocomplete: "off" %>
              </div>

              <div style="float:left;width:20%;height:100%;">
                <div class="codrops-top clearfix">
                  <span class="right codrops-icon codrops-icon-drop"><a class="" href="/users/password/new"><h5>Forget Password</h5></a></span>
                </div>
                  <% if devise_mapping.rememberable? -%>
                    <span><%= f.check_box :remember_me %> Remember me</span>
                  <% end -%>

                  <%= f.submit "Log in" %>
              </div>
              <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %>
            <% end %>
          </div>


        </div>
      </section>

    </div><!-- /container -->

    <script>
      $(".page-scroll").click(function(e) {
        e.preventDefault();
        var section = $(this).attr("href");
        $("html, body").animate({
            scrollTop: $(section).offset().top
        });
      })
      // [].slice.call( document.querySelectorAll( '.photostack' ) ).forEach( function( el ) { new Photostack( el ); } );

      new Photostack( document.getElementById( 'photostack-1' ), {
        callback : function( item ) {
          //console.log(item)
        }
      } );
      new Photostack( document.getElementById( 'photostack-2' ), {
        callback : function( item ) {
          //console.log(item)
        }
      } );
      new Photostack( document.getElementById( 'photostack-3' ), {
        callback : function( item ) {
          //console.log(item)
        }
      } );

    </script>
  </body>
</html>
