<h1>Resume </h1>

<%= form_for @resume do |f| %>
   <table>
    <tr><td>Resume Heading</td><td><%= f.text_field :resume_heading %></td></tr>

    <tr><td>Functional Area</td><td><%= f.text_field :functional_area %></td></tr>

    <tr><td>Current Company</td><td><%= f.text_field :current_company %></td></tr>

    <tr><td>Position</td><td><%= f.text_field :position %></td></tr>

    <tr><td>Key Skills</td><td><%= f.text_area :key_skills %></td></tr>

    <tr><td>Total Experience</td><td><%= f.text_field :total_experience %></td></tr>

    <tr><td>Expected Salary</td><td><%= f.text_field :expected_salary %></td></tr>

    <tr><td>Higest Qualification</td><td><%= f.text_field :highest_qualification %></td></tr>

    <tr><td>Old Resume</td><td><%= image_tag(@resume.attach_resume_url, :size => "100x200") if @resume.attach_resume.present? %></td></tr>

    <tr><td>Attach New Resume <small>(only pdf)</small></td><td><%= f.file_field :attach_resume %></td></tr>

    <tr><td>Active</td><td><%= f.select :active, [['True','true'],['false','false']] %></td></tr>

  </table>
  <br/>
  <div><%= f.submit "Done"%></div>

<% end %>
